
*{
    font-family: 'Open Sans', sans-serif;
}

p {
    margin:0;
    padding:0;
    
}

section {
    height: 950px;
}

/*#right-side-image{
    height: 720px;
    float:right;
    background:rgba(51, 127, 241, 0.884);
    width:40%;
    position: relative;
    
}*/

.nurse-image{
   /* margin-top:32%;
    width:70%; 
   height:550px; 
   display: block;
   margin-left: auto;
  margin-right: auto;
   padding:0; */
   background-color: rgba(51, 127, 241, 0.884);
    float: right;
    width: 40%;
    height: 100%;
    margin-top: 0px ;
}



#homebar{
    height: 400px;
    height: 100px;
    top:-8px;
    position:sticky;
    background-color:#faffffde;
    
}

.blue-bold{
    position: absolute;
    top: 30px;
    left: 150px;
    text-align: left;
    color: #4b48f0;
    font-weight:900;
    font-size: 25px;
}

.grey-bold{
    position: absolute;
    top: 37px;
    text-align: left;
    color: #9c959c;
    font-weight:700;
    font-size: 16px;
}

.button{
    position: absolute;
    right: 65px;
    top: 26px;
    font-size: 12px;
    padding: 10px 26px;
    border-radius: 4px;
    border:none;
    box-shadow: 0 4px 26px 0 rgba(59, 29, 231, 0.479), 0 0 0 0 rgba(59, 29, 231, 0.479);
    color: white;
    text-align: center;
    background-color: #4b48f0;
    display: inline-block;
    font-size: 16px;
    font-weight:500;
    float: right;
}

#left-side{
    float: left;
    height: 100%;
    width: 60%;
}

.triangle-left{
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 140px solid transparent;
    border-bottom: 140px solid transparent; 
    border-right:140px solid rgba(224, 219, 219, 0.363);
    right: 541px;
    top: 35%;
}
.triangle-down{
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 180px solid transparent;
    border-right: 180px solid transparent; 
    border-top:180px solid rgba(224, 219, 219, 0.363);
    left: -25px; 
}

.title{
    position: absolute;
    word-wrap: break-word;
    width: 450px;
    left: 10%;
    text-align: left;
    color: #03234e;
    font-weight:800;
    font-size: 58px;
    
}

.normal-text{
    position: absolute;
    word-wrap: break-word;
    width: 400px;
    left: 10%;
    text-align: left;
    color: rgb(148, 147, 147);
    font-weight:600;
    font-size: 18px;
    line-height: 32px;
}

.icons{
    max-width: 20px;
    max-width: 20px;
    position: absolute;
    top: 81%;
    left: 10%;
    border-radius: 15%;
}

.semi-bold{
    position:absolute;
    width: 400px;
    left: 10%;
    text-align: left;
    color: #03234e;
    font-weight: 700;
    font-size: 22px;
    top: 700px;
}

.schedule{
    top: 770px;
    left: 135px;
    position:absolute;
    height: 130px;
    width: 900px;
    background-color: rgb(255, 251, 251);
    box-shadow:  0px 20px 10px #e2e2e2a2;
}
